.event * {
  margin: 0;
  padding:0;
  padding-left: .25em;
}

.event {
  border-bottom: 1px dashed black;
  padding: .25 em;
  font-size: .9em;
}

.event--yours {
  background-color: lightblue;
}

.event--others {
  background-color: lightgray;
}

.event:first-child {
  font-weight: bold;
  font-size: 1.2em;
  background-color: lightcoral;
  margin-top: .5em;
}

