.event * {
  margin: 0;
  padding:0;
  padding-left: .25em;
}

#event-header {
  font-size: 1.2em;
  font-weight: bold;
}

.event {
  border-bottom: 1px dashed black;
  padding: .25 em;
  font-size: .9em;
}

.event--yours {
  background-color: lightcyan;
}

.event--others {
  background-color: cornsilk;
  font-style: italic;
}

.event:first-of-type {
  font-weight: bold;
  font-size: 1.2em;
  background-color: lightblue;
  margin-top: .5em;
}

.event p:last-of-type {
  font-size: .8em;
  font-style: italic;
}

