/* This module sets the grid layout of the page */
/* Author: Elliot Huck */

.grid__wrapper {
  display: grid;
}

body > article > div {
  border: 1px solid black;
}

body > article > div:nth-child(1) {
  overflow: scroll;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
body > article > div:nth-child(2) {
  overflow: scroll;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
body > article > div:nth-child(3) {
  overflow: scroll;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
body > article > div :nth-child(4) {
  overflow: scroll;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
body > article > div:nth-child(5) {
  overflow: scroll;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}