#login-stuff {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: cornflowerblue;
}

.main-headline {
    font-size: 6em;
    text-shadow: .5px .5px 1px black;
    /* text-shadow: -.5px -1px 2px black; */
    width: 80vw;
    border-bottom: solid 1px cornflowerblue;
    text-align: center;
    font-weight: bolder;
}

.secondary-headline {
    font-size: 2.5em;
    margin-bottom: 30px;
}

.login-input {
    width: 20vw;
    border-radius: 8px;
    border: 2px cornflowerblue solid;
    padding: 5px;
    margin-bottom: 5px;
    outline: none;
}

.login-input:active {
    outline: none;
}

.login-button {
    margin-top: 10px;
    width: 10vw;
    border-radius: 15px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    font-size: 1.5rem;
    transition: .5s;
    outline: none;
}

.login-button:hover {
    background-color: cornsilk;
    color: cornflowerblue;
}

.login-button:active {
    outline: none;
}

.register {
    width: 15vw;
    margin-bottom: 1000px;
}

.welcome {
    position: fixed;
    top: 50px;
}