.card > * {
    text-align: center;
}

#wrapper > .card > input {
    margin-left: 4rem;
}

.add-task {
    font-weight: bold;
    font-size: 1rem;
    position: sticky !important;
    bottom: 0 !important;
    left:50%;
    margin-top: 2rem;
    width: 25px;
}

#wrapper > p {
    display: inline-block;
}

.edit {
    float: right;
    top: 1.5rem;
}

.checkbox {
    bottom: 1rem;
    float: right;
    left: 1rem;
}

#explain-checkbox {
    display: inline-block;
    margin-right: 50rem;
}

.due-date{
    margin-left: 5rem;
}

button.is-primary {
    margin-left: 1rem;
}

@media only screen and (min-width:1088px) {
    #explain-checkbox{
        margin-right: 75rem;
        display: inline-block;
    }
}